src/main/mule/Global/routes-and-schedule-travelontip-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
     <flow name="routes-and-schedule-travelontip-system-api-main">
        <http:listener config-ref="routes-and-schedule-travelontip-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="routes-and-schedule-travelontip-system-api-config" />
        <error-handler ref="Global_ErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
	<flow name="routes-and-schedule-travelontip-system-api-console">
        <http:listener config-ref="routes-and-schedule-travelontip-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="routes-and-schedule-travelontip-system-api-config" />
		<error-handler ref="Global_ErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="routes-and-schedule-travelontip-system-apiSub_Flow" doc:id="2b0733d2-43be-4bbb-b544-2cb10c749848" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportCompany)\(transportCompany)\Schedules:routes-and-schedule-travelontip-system-api-config">
        <flow-ref doc:name="Flow Reference  initialise for Schedules" doc:id="203f238c-ed30-4bc6-817c-c6d13e14fd6b" name="routes-and-schedule-travelontip-system-apiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="8d3207dd-0ee0-4e0e-b59e-5539655a9090" message="Request Received for Schedules TravelOnTip SystemAPI For transactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="e73c07e7-a116-404a-b4a1-97906c686c8f" name="Retrieve_Schedules_for_TravelonTip_SystemAPISub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8cf4e89-d3b4-44de-9cfe-b4e53fd00169" message="Response sent for Schedules TravelOnTip SystemAPI For transactionId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportCompany)\(transportCompany)\routes:routes-and-schedule-travelontip-system-api-config">
        <flow-ref doc:name="Flow Reference initialise for Routes" doc:id="a4f46d13-6709-45eb-a809-c40dc575f245" name="routes-and-schedule-travelontip-system-apiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="540e26c9-4474-457a-9c19-c97d3f59aa9e" message="Request Received for Routes TravelOnTip SystemAPI For transactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="f125df87-179c-4367-8a99-802db753d200" name="Retrieve_Routes_for_TravelonTip_SystemAPISub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="029898a2-4f00-4825-81af-a176cb845a86" message="Response sent for Routes TravelOnTip SystemAPI For transactionId: #[vars.transactionId]"/>
    </flow>
</mule>
